html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #272f41;
    font-family: 'Open Sans', sans-serif;
    font-size: 112.5%;
    line-height: 1.6em;
}


section {
    width: 100%;
    padding: 50px 0;
}

.aboutme {
    font-size: 40px;
}


h1 {
    color: #adadad;
    text-align: center;
    font-weight: 100;
  }
  
  .timeline {
    position: relative;
    width: 810px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 1em 0;
    list-style-type: none;
  }

  .timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 4px;
    height: 100%;
    margin-left: -2px;
    background-color: #adadad;
    background: linear-gradient(to bottom, rgba(173, 173, 173, 0) 0%, rgb(173, 173, 173) 8%, rgb(173, 173, 173) 92%, rgba(173, 173, 173, 0) 100%);
    z-index: 5;
  }

  @media screen and (max-width: 809px) {
    .timeline {
      width: 405px;
    }

    .timeline:before {
      left: auto;
    }
  }
  @media screen and (max-width: 405px) {
    .timeline {
      width: 320px;
    }
  }


  
  .timeline li {
    padding: 1em 0;
  }
  
  .timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  
  li:nth-child(2n+1) > .wrapper,
  li:nth-child(2n) > .wrapper {
    position: relative;
    width: 290px;
    float: right;
  }

  @media screen and (min-width: 810px) {
    li:nth-child(2n+1) > .wrapper {
      float: left;
      text-align: right;
    }
  }

  @media screen and (min-width: 405px) {
    .wrapper {
      width: 375px;
    }
  }
  
  .content {
    position: relative;
    display: inline-block;
    text-align: center;
    color: #adadad;
    font-size: 20px;
    font-weight: 400;
    width: 375px;
  }
  @media screen and (max-width: 405px) {
    .content {
      font-size: 16px;
      width: 290px;
    }
  }
  
  li:nth-child(2n+1) .content {
    text-align: right;
  }
  @media screen and (min-width: 810px) {
    li:nth-child(2n+1) .content {
      text-align: left;
    }
  }
  
  li:nth-child(2n) .content {
    text-align: right;
  }
  
  .subtitle {
    font-size: 14px;
    display: block;
    line-height: 20px;
    font-weight: 100;
  }
  
  li:nth-child(2n+1) .content:before,
  li:nth-child(2n) .content:before {
    position: absolute;
    top: 50%;
    left: -40px;
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin-top: -10px;
    background: #272f41;
    border-radius: 10px;
    border: 4px solid #adadad;
    z-index: 10;
  }
  
  @media screen and (min-width: 810px) {
    li:nth-child(2n+1) .content:before {
      right: -40px;
      left: auto;
    }
  }